# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Miscellaneous
*.swp

mascots/
mascots_copy/
icons_copy/

# executables
bin/
saturate.sh
get_language
convert-to-png.sh
saturate.py